{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Profesor</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>Panel de Profesor</h2>
            <p>Bienvenido, profesor</p>
        </div>

        <p style="color:white; text-align:center;">
            Aquí irá la gestión de cursos y materiales.
        </p>
    </div>
</div>
</body>
</html>